@import 'settings'

$reset-font: arial, sans-serif
@include ae-reset

.hide
  display: none

body
  background: #eee
  font-family: lato, sans-serif

form
  margin: 20px auto
  overflow: hidden
  width: 400px
  padding: 0
  background: white

  +border-radius(4px)
  +box-shadow(1px 1px 10px rgba(black, 0.1))

  article
    border-top: solid 1px #ddd
    padding: 0 10px
    margin: 0
    font-size: 10pt

    &:first-child
      border-top: 0

    label
      display: block
      padding: 15px 10px

    label .desc
      font-size: 0.8em
      color: #aaa
      font-style: italic
      margin-left: 10px

  .custom
    background: #eee
    border-top: solid 1px #ddd
    display: block
    margin: 0 -10px
    padding: 10px
    overflow: hidden
    font-size: 8pt

    label
      padding: 0
      float: left
      width: 30%
      line-height: 25px
      height: 25px
      overflow: hidden

    input
      width: 68%
      padding: 4px
      height: 25px
      +box-sizing(border-box)

    &.hide
      display: none

  p.submit
    text-align: center
    padding: 10px
    +gradient(#ddd, #ddd * 0.95)
    margin: 1px
    +border-bottom-radius(4px)

hgroup
  text-align: center
  width: 400px
  margin: 40px auto 20px auto

  h1, p
    margin: 0
    padding: 0

  h1
    font-family: sans-serif
    font-weight: normal
    font-size: 18pt

  p
    font-family: palatino, serif
    color: #888
    font-size: 10pt


// ============================================================================

#output
  +border-radius(4px)
  background: white
  width: 600px
  margin: 40px auto
  padding: 20px
  +box-shadow(0 0 10px rgba(black, 0.2))
  text-align: center

  p.mute
    margin-top: 0
    color: #aaa
    a
      color: #888
      font-weight: normal

  p.strong
    margin-bottom: 0
    font-size: 1.2em
    font-weight: bold
    color: #333

  input.command
    width: 100%
    padding: 10px
    border: solid 1px #ccc
    font-size: 10pt
    text-align: center
    margin: 10px auto
    +box-sizing(border-box)

  textarea
    width: 100%
    height: 400px
    +box-sizing(border-box)
