global
	log 127.0.0.1	local0
	log 127.0.0.1	local1 notice
	maxconn 4096
	daemon
	#log loghost	local0 info
	#chroot /usr/share/haproxy
  #user haproxy
  #group haproxy
	#debug
	#quiet

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
	retries	3
	option redispatch
	maxconn	2000
	contimeout	5000
	clitimeout	50000
	srvtimeout	50000

# Sample config
listen server1 0.0.0.0:80
  mode http
	balance	roundrobin
	server	app1_1 127.0.0.1:3000
