#output
  :textile
    p(strong). Done! Paste this command to your server's terminal.

    p(mute). You may also save this script (right click - save as) using "this link":#{@url}.
  %input.command{:value => @command, :autofocus => true}
  %p
    %a{:href => @url} View contents
    != "&middot;"
    %a{:href => @tar_url} Download (.tar.gz)
