%hgroup
  %h1 Server bootstrap script generator
#output
  %p
    Copy and paste this command to your server's terminal:
    %a{:href => "#", :role => 'show-contents'} (contents?)
  %input.command{:value => @command, :autofocus => true}

  %p
    You may also save this script (right click - save as) using
    %a{:href => @url} this link.

  .contents.hide
    %p Here are the contents of your script:
    %textarea= @contents
