#output
  :textile
    p(strong). Done! Paste this command to your server's terminal.

    p(mute). Run this on an Ubuntu 10.04 server instance, preferrably a freshly-installed one.
  %input.command{:value => @command, :autofocus => true}

  %p.actions
    %a{:href => @url, :target => "_blank"} View contents
    %span.dot!= "&middot;"
    %a{:href => @tar_url} Download
    %span.mute (.tar.gz)
    %span.dot!= "&middot;"
    %a{:href => @sh_url} Download
    %span.mute (.sh)
