%hgroup
  %h1 Server bootstrap script generator
#output
  :textile
    p(strong). Paste this command to your server's terminal.

    p(mute). You may also save this script (right click - save as) using "this link":#{@url}.
  %input.command{:value => @command, :autofocus => true}
  %p
    %a{:href => @url} (view contents?)
